<h1>
Owner details
</h1>
<br>
<h4>
  Firstname:
  <span>
    <%= farmer.firstname %>
  </span>
  </h4>
  <br>
  <h4>Lastname:
    <span>
      <%= farmer.lastname %>
    </span>
  </h4>
  <br>
  <h4>
    Email address:
    <span>
      <%= farmer.email %>
    </span>
  </h4>
  <br>
  <h4>
    Profile photo:
    <span>
    <img class="profile-picture" src="<%= farmer.profilePhoto %>">
    </span>
  </h4>
  <br>

  <h4>
    Description:
    <span>
      <%= farmer.description %>
    </span>
  </h4>
  <br>
  <h4>
    Languages spoken:
    <span>
      <%= farmer.languages %>
    </span>
  </h4>
  <br>
  <h4>
    Birthday:
    <span>
      <%= farmer.birthday %>
    </span>
  </h4>