<h1>Create a work</h1>

<% if (typeof(errors) !== "undefined"){ %>
  <ul>
    <% for (let error in errors){ %>
      <li><%= errors[error].message %></li>
    <% } %>
  </ul>
<% } %>

<form action="/works" method="POST">
<label>
Name
<input type="text" name="name" value="<%= work.name %>">
</label>
<br/>

<label>
Description
<textarea type="text" name="description"><%= work.description %></textarea>
</label>
<br/>

<label>
Number of workers needed
<input type="number" name="numberOfWorkers"  value="<%= work.numberOfWorkers %>">
</label>
<br/>

<label>
Hours expected
<input type="number" name="hoursExpected"  value="<%= work.hoursExpected %>">
</label>
<br/>

<label>
Start Date
<input type="date" name="startDate"  value="<%= work.startDate %>">
</label>
<br/>

<label>
End Date
<input type="date" name="endDate"  value="<%= work.endDate %>">
</label>
<br/>



<label>
Reward
<input type="object" name="reward"  value="<%= work.reward%>">
</label>
<br/>

  <button type="submit">Create Work</button>
</form>

