<div class=" col-sm-6 col-sm-push-3 monBlock">
  <hgroup class="col-sm-12 projects-title">
    <h1>Owner Profile</h1>
    <h2>Find details about the farmer</h2>
  </hgroup>

  <div class="col-sm-12 blog-item">
    <img class="img-responsive" alt="img-responsive" src="<%= farmer.profilePhoto %>">

    <h3>
      Firstname: </h3>
    <span>
      <%= farmer.firstname %>
    </span>

    <h3>Lastname:</h3>
    <span>
      <%= farmer.lastname %>
    </span>

    <h3>
      Email address: </h3>
    <span>
      <%= farmer.email %>
    </span>


    <h3>
      Description:
    </h3>
    <span>
      <%= farmer.description %>
    </span>

 


  </div>
 
  </div>