


<div class=" col-sm-6 col-sm-push-3 monBlock">
    <hgroup class="col-sm-12 projects-title">
      <h1>Farm details</h1>
      <h2>Find a description of the farm</h2>
    </hgroup>
    <article class="col-sm-12 blog-item">
      <img class="img-responsive" alt="img-responsive" src="<%= farm.img %>">
      <h2>
        <%= farm.name %>
      </h2>
      <h3>Farm address:
      </h3>
      <span>
        <%= farm.address %>
     </span>
     <h3>Farm description:
     </h3>
      <p>
        <%= farm.description %>
      </p>
      <h3>
        <a style="color:#8a6d3b" id="owner" href="/farms/<%= farm._id %>/farmer/<%=farm._owner._id%>">Owner Details</a>
      </h3>

      <h3>
        <a style="color:#8a6d3b" id="worklist" href="/farms/<%= farm._id %>/works/">Work List</a>
      </h3>
      <br><br>
      <% if ( user._id.equals(farm._owner._id )){%>
  <a class="btn btn-success" href="/farms/<%= farm._id %>/edit">
    Edit
  </a>
<br><br>
  <form action="/farms/<%= farm._id %>/delete" method="POST">
    <button class="btn btn-success" type="submit">Delete</button>
  </form>
<%}%>
    </article>

</div>